.tamanio{
  width: 90em;
  margin-left: -10em;
}


.tamaniomodal{
  height: auto;
  width: auto;
}

// buscar imagene

.position-buscador{
  float: right;
}

.position-buscador input{
  width: 50em;
}

.position-buscador button{
  width: 8em;
}
