<div class="row tamanio">
  <div *ngFor="let imag of imagen"  class="col-sm-4">
    <div class="card my-3">
        <img src="{{imag.url}}" class="card-img-top btn-primary" data-toggle="modal"
        data-target="#expandirimagen" alt="{{imag.descripcion}}"
        (click)="recibirImagen(imag.title,imag.descripcion, imag.url)"  height="400px"/>
      <div class="card-body">
        <h5 class="text-center mt-4 ">{{imag.title}}</h5>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="expandirimagen" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content tamaniomodal">
      <div class="modal-header">
        <h5 class="modal-title" >{{imagenResponse.title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="{{imagenResponse.url}}" alt="{{imagenResponse.title}}" />
        <div><p>{{imagenResponse.descripcion}}</p></div>
      </div>
    </div>
  </div>
</div>
